- content_for :js do
  = javascript_include_tag 'home'
%nav.navbar.navbar-inverse{role: "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %i.icon-cog
      %a.navbar-brand{href: "./index.html"} Base Admin 3.0
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javscript:;"}
            %i.icon-cog
            Settings
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "./account.html"} Account Settings
            %li
              %a{href: "javascript:;"} Privacy Settings
            %li.divider
            %li
              %a{href: "javascript:;"} Help
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javscript:;"}
            %i.icon-user
            Rod Howard
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "javascript:;"} My Profile
            %li
              %a{href: "javascript:;"} My Groups
            %li.divider
            %li
              %a{href: "javascript:;"} Logout
      %form.navbar-form.navbar-right{role: "search"}
        .form-group
          %input.form-control.input-sm.search-query{placeholder: "Search", type: "text"}/
    / /.navbar-collapse
  / /.container
.subnavbar
  .subnavbar-inner
    .container
      %a.subnav-toggle{"data-target" => ".subnav-collapse", "data-toggle" => "collapse", href: "javascript:;"}
        %span.sr-only Toggle navigation
        %i.icon-reorder
      .collapse.subnav-collapse
        %ul.mainnav
          %li.active
            %a{href: "./index.html"}
              %i.icon-home
              %span Home
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:;"}
              %i.icon-th
              %span Components
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "./elements.html"} Elements
              %li
                %a{href: "./forms.html"} Form Styles
              %li
                %a{href: "./jqueryui.html"} jQuery UI
              %li
                %a{href: "./charts.html"} Charts
              %li
                %a{href: "./popups.html"} Popups/Notifications
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:;"}
              %i.icon-copy
              %span Sample Pages
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "./pricing.html"} Pricing Plans
              %li
                %a{href: "./faq.html"} FAQ's
              %li
                %a{href: "./gallery.html"} Gallery
              %li
                %a{href: "./reports.html"} Reports
              %li
                %a{href: "./account.html"} User Account
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:;"}
              %i.icon-external-link
              %span Extra Pages
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "./login.html"} Login
              %li
                %a{href: "./signup.html"} Signup
              %li
                %a{href: "./error.html"} Error
              %li.dropdown-submenu
                %a{href: "#", tabindex: "-1"} More options
                %ul.dropdown-menu
                  %li
                    %a{href: "#", tabindex: "-1"} Second level
                  %li
                    %a{href: "#"} Second level
                  %li
                    %a{href: "#"} Second level
      / /.subnav-collapse
    / /container
  / /subnavbar-inner
/ /subnavbar
.main
  .container
    .row
      .col-md-6.col-xs-12
        .widget.stacked
          .widget-header
            %i.icon-star
            %h3 Quick Stats
          / /widget-header
          .widget-content
            .stats
              .stat
                %span.stat-value 12,386
                Site Visits
              / /stat
              .stat
                %span.stat-value 9,249
                Unique Visits
              / /stat
              .stat
                %span.stat-value 70%
                New Visits
              / /stat
            / /stats
            #chart-stats.stats
              .stat.stat-chart
                #donut-chart.chart-holder
                / #donut
              / /substat
              .stat.stat-time
                %span.stat-value 00:28:13
                Average Time on Site
              / /substat
            / /substats
          / /widget-content
        / /widget
        .widget.widget-nopad.stacked
          .widget-header
            %i.icon-list-alt
            %h3 Recent News
          / /widget-header
          .widget-content
            %ul.news-items
              %li
                .news-item-detail
                  %a.news-item-title{href: "javascript:;"} Duis aute irure dolor in reprehenderit
                  %p.news-item-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                .news-item-date
                  %span.news-item-day 08
                  %span.news-item-month Mar
              %li
                .news-item-detail
                  %a.news-item-title{href: "javascript:;"} Duis aute irure dolor in reprehenderit
                  %p.news-item-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                .news-item-date
                  %span.news-item-day 08
                  %span.news-item-month Mar
              %li
                .news-item-detail
                  %a.news-item-title{href: "javascript:;"} Duis aute irure dolor in reprehenderit
                  %p.news-item-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                .news-item-date
                  %span.news-item-day 08
                  %span.news-item-month Mar
          / /widget-content
        / /widget
        .widget.stacked
          .widget-header
            %i.icon-file
            %h3 Content
          / /widget-header
          .widget-content
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          / /widget-content
        / /widget
      / /span6
      .col-md-6
        / /widget
        .widget.stacked.widget-table.action-table
          .widget-header
            %i.icon-th-list
            %h3 Recent Tasks
          / /widget-header
          .widget-content
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Task
                  %th.td-actions
              %tbody
                %tr
                  %td
                    Internet
                    Explorer 4.0
                  %td.td-actions
                    %a.btn.btn-xs.btn-primary{href: "javascript:;"}
                      %i.btn-icon-only.icon-ok
                %tr
                  %td
                    Internet
                    Explorer 5.0
                  %td.td-actions
                    %a.btn.btn-xs.btn-primary{href: "javascript:;"}
                      %i.btn-icon-only.icon-ok
                %tr
                  %td
                    Internet
                    Explorer 5.5
                  %td.td-actions
                    %a.btn.btn-xs.btn-primary{href: "javascript:;"}
                      %i.btn-icon-only.icon-ok
                %tr
                  %td
                    Internet
                    Explorer 5.5
                  %td.td-actions
                    %a.btn.btn-xs.btn-primary{href: "javascript:;"}
                      %i.btn-icon-only.icon-ok
                %tr
                  %td
                    Internet
                    Explorer 5.5
                  %td.td-actions
                    %a.btn.btn-xs.btn-primary{href: "javascript:;"}
                      %i.btn-icon-only.icon-ok
                %tr
                  %td
                    Internet
                    Explorer 5.5
                  %td.td-actions
                    %a.btn.btn-xs.btn-primary{href: "javascript:;"}
                      %i.btn-icon-only.icon-ok
          / /widget-content
        / /widget
        .widget.stacked
          .widget-header
            %i.icon-bookmark
            %h3 Quick Shortcuts
          / /widget-header
          .widget-content
            .shortcuts
              %a.shortcut{href: "javascript:;"}
                %i.shortcut-icon.icon-list-alt
                %span.shortcut-label Apps
              %a.shortcut{href: "javascript:;"}
                %i.shortcut-icon.icon-bookmark
                %span.shortcut-label Bookmarks
              %a.shortcut{href: "javascript:;"}
                %i.shortcut-icon.icon-signal
                %span.shortcut-label Reports
              %a.shortcut{href: "javascript:;"}
                %i.shortcut-icon.icon-comment
                %span.shortcut-label Comments
              %a.shortcut{href: "javascript:;"}
                %i.shortcut-icon.icon-user
                %span.shortcut-label Users
              %a.shortcut{href: "javascript:;"}
                %i.shortcut-icon.icon-file
                %span.shortcut-label Notes
              %a.shortcut{href: "javascript:;"}
                %i.shortcut-icon.icon-picture
                %span.shortcut-label Photos
              %a.shortcut{href: "javascript:;"}
                %i.shortcut-icon.icon-tag
                %span.shortcut-label Tags
            / /shortcuts
          / /widget-content
        / /widget
        .widget.stacked
          .widget-header
            %i.icon-signal
            %h3 Chart
          / /widget-header
          .widget-content
            #area-chart.chart-holder
          / /widget-content
      / /span6
    / /row
  / /container
/ /main
.extra
  .container
    .row
      .col-md-3
        %h4 About
        %ul
          %li
            %a{href: "javascript:;"} About Us
          %li
            %a{href: "javascript:;"} Twitter
          %li
            %a{href: "javascript:;"} Facebook
          %li
            %a{href: "javascript:;"} Google+
      / /span3
      .col-md-3
        %h4 Support
        %ul
          %li
            %a{href: "javascript:;"} Frequently Asked Questions
          %li
            %a{href: "javascript:;"} Ask a Question
          %li
            %a{href: "javascript:;"} Video Tutorial
          %li
            %a{href: "javascript:;"} Feedback
      / /span3
      .col-md-3
        %h4 Legal
        %ul
          %li
            %a{href: "javascript:;"} License
          %li
            %a{href: "javascript:;"} Terms of Use
          %li
            %a{href: "javascript:;"} Privacy Policy
          %li
            %a{href: "javascript:;"} Security
      / /span3
      .col-md-3
        %h4 Settings
        %ul
          %li
            %a{href: "javascript:;"} Consectetur adipisicing
          %li
            %a{href: "javascript:;"} Eiusmod tempor
          %li
            %a{href: "javascript:;"} Fugiat nulla pariatur
          %li
            %a{href: "javascript:;"} Officia deserunt
      / /span3
    / /row
  / /container
/ /extra
.footer
  .container
    .row
      #footer-copyright.col-md-6
        \© 2012-13 Jumpstart UI.
      / /span6
      #footer-terms.col-md-6
        Theme by
        %a{href: "http://jumpstartui.com", target: "_blank"} Jumpstart UI
      / /.span6
    / /row
  / /container
/ /footer