= javascript_tag do
  = "window.closingPriceUrl = '#{api_v1_security_closing_prices_path}.json'"
= javascript_include_tag "securities/show", "data-turbolinks-track" => true

.main
  .container
    .row
      .widget.stacked
        .widget-header
          %i.icon-signal
          %h3 Historical Performance
        .widget-content
          #security-historical-chart.chart-holder
